.paper {
  background-image: url(./../../common/assets/images/paper.webp);
}

.addItem {
  background-image: url(./../../common/assets/images/paper.webp);
  padding: 20px;
  max-width: 280px;
  border-radius: 30px;
  margin: 20px auto;
}
